.footer {
    background-color: #2e2e2e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }